@font-face {
    font-family: 'Oswald_Light';
    src: url('../fonts/OswaldLight.eot');
    src: url('../fonts/OswaldLight.eot') format('embedded-opentype'),
    url('../fonts/OswaldLight.woff2') format('woff2'),
    url('../fonts/OswaldLight.woff') format('woff'),
    url('../fonts/OswaldLight.ttf') format('truetype'),
    url('../fonts/OswaldLight.svg#OswaldLight') format('svg');
}

@font-face {
    font-family: 'Oswald_Regular';
    src: url('../fonts/OswaldRegular.eot');
    src: url('../fonts/OswaldRegular.eot') format('embedded-opentype'),
    url('../fonts/OswaldRegular.woff2') format('woff2'),
    url('../fonts/OswaldRegular.woff') format('woff'),
    url('../fonts/OswaldRegular.ttf') format('truetype'),
    url('../fonts/OswaldRegular.svg#OswaldRegular') format('svg');
}

@font-face {
    font-family: 'Roboto_Regular';
    src: url('../fonts/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
    url('../fonts/RobotoRegular.woff2') format('woff2'),
    url('../fonts/RobotoRegular.woff') format('woff'),
    url('../fonts/RobotoRegular.ttf') format('truetype'),
    url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}

@font-face {
    font-family: 'Montserrat_ExtraLight';
    src: url('../fonts/MontserratExtraLight.eot');
    src: url('../fonts/MontserratExtraLight.eot') format('embedded-opentype'),
    url('../fonts/MontserratExtraLight.woff2') format('woff2'),
    url('../fonts/MontserratExtraLight.woff') format('woff'),
    url('../fonts/MontserratExtraLight.ttf') format('truetype'),
    url('../fonts/MontserratExtraLight.svg#MontserratExtraLight') format('svg');
}

@font-face {
    font-family: 'Montserrat_Light';
    src: url('../fonts/MontserratLight.eot');
    src: url('../fonts/MontserratLight.eot') format('embedded-opentype'),
    url('../fonts/MontserratLight.woff2') format('woff2'),
    url('../fonts/MontserratLight.woff') format('woff'),
    url('../fonts/MontserratLight.ttf') format('truetype'),
    url('../fonts/MontserratLight.svg#MontserratLight') format('svg');
}

@font-face {
    font-family: 'Montserrat_Regular';
    src: url('../fonts/MontserratRegular.eot');
    src: url('../fonts/MontserratRegular.eot') format('embedded-opentype'),
    url('../fonts/MontserratRegular.woff2') format('woff2'),
    url('../fonts/MontserratRegular.woff') format('woff'),
    url('../fonts/MontserratRegular.ttf') format('truetype'),
    url('../fonts/MontserratRegular.svg#MontserratRegular') format('svg');
}

@font-face {
    font-family: 'Raleway_Bold';
    src: url('../fonts/RalewayBold.eot');
    src: url('../fonts/RalewayBold.eot') format('embedded-opentype'),
    url('../fonts/RalewayBold.woff2') format('woff2'),
    url('../fonts/RalewayBold.woff') format('woff'),
    url('../fonts/RalewayBold.ttf') format('truetype'),
    url('../fonts/RalewayBold.svg#RalewayBold') format('svg');
}

@font-face {
    font-family: 'Raleway_Medium';
    src: url('../fonts/RalewayMedium.eot');
    src: url('../fonts/RalewayMedium.eot') format('embedded-opentype'),
    url('../fonts/RalewayMedium.woff2') format('woff2'),
    url('../fonts/RalewayMedium.woff') format('woff'),
    url('../fonts/RalewayMedium.ttf') format('truetype'),
    url('../fonts/RalewayMedium.svg#RalewayMedium') format('svg');
}

@font-face {
    font-family: 'Raleway_Regular';
    src: url('../fonts/RalewayRegular.eot');
    src: url('../fonts/RalewayRegular.eot') format('embedded-opentype'),
    url('../fonts/RalewayRegular.woff2') format('woff2'),
    url('../fonts/RalewayRegular.woff') format('woff'),
    url('../fonts/RalewayRegular.ttf') format('truetype'),
    url('../fonts/RalewayRegular.svg#RalewayRegular') format('svg');
}

@font-face {
    font-family: 'RalewayExtraBold';
    src: url('../fonts/RalewayExtraBold.eot');
    src: url('../fonts/RalewayExtraBold.eot') format('embedded-opentype'),
    url('../fonts/RalewayExtraBold.woff2') format('woff2'),
    url('../fonts/RalewayExtraBold.woff') format('woff'),
    url('../fonts/RalewayExtraBold.ttf') format('truetype'),
    url('../fonts/RalewayExtraBold.svg#RalewayExtraBold') format('svg');
}

@font-face {
    font-family: 'RalewaySemiBold';
    src: url('../fonts/RalewaySemiBold.eot');
    src: url('../fonts/RalewaySemiBold.eot') format('embedded-opentype'),
    url('../fonts/RalewaySemiBold.woff2') format('woff2'),
    url('../fonts/RalewaySemiBold.woff') format('woff'),
    url('../fonts/RalewaySemiBold.ttf') format('truetype'),
    url('../fonts/RalewaySemiBold.svg#RalewaySemiBold') format('svg');
}

body {
    font-size: 10px;
}

header {
    background: url("../images/header_background.jpg") no-repeat center center;
    background-size: cover;
    color: white;
    padding: 0.1px 10px 0.1px 10px;
}

.container {
    max-width: 1180px;
    margin: auto;
    box-sizing: border-box;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

header nav.container {
    margin: 40px auto 290px auto;
}

header .logo {
    font-family: Raleway_Regular, Arial, sans-serif;
    font-size: 3.4em;
    display: block;
    float: left;
}

header .logo img {
    margin-bottom: -15px;
}

header nav ul {
    float: right;
}

header nav ul li {
    display: inline-block;
}

header .main_menu {
    font-family: Montserrat_Light, Arial, sans-serif;
    text-transform: capitalize;
    font-size: 1.4em;
    margin: 20px 60px 0 10px;
}

header .main_menu li {
    margin-left: 30px;
}

header .main_menu a:hover {
    color: #c0b199;
}

header .icon_buttons {
    margin-top: 15px;
}

header .icon_buttons li {
    margin-left: 25px;
}

header .header-slider .slide{
    text-align: center;
    max-width: 600px;
    box-sizing: border-box;
    margin: auto;
}

header .header-slider h2 {
    font-family: Raleway_Regular, Arial, sans-serif;
    font-size: 3.4em;
    margin-bottom: 10px;
}

header .header-slider h1 {
    font-family: RalewayExtraBold, Arial, sans-serif;
    font-size: 5.2em;
    margin-bottom: 30px;
}


header .header-slider p {
    font-family: Montserrat_Light, Arial, sans-serif;
    font-size: 1.6em;
    margin-bottom: 50px;
}

.button,
header .header-slider .button {
    font-family: RalewayExtraBold, Arial, sans-serif;
    font-size: 1.4em;
    text-transform: uppercase;
    padding: 20px 35px;
    border-bottom: 3px solid #6e6358;
    border-top: 3px solid transparent;
    background-color: #928575;
    border-radius: 3px;
    margin-bottom: 380px;
    display: inline-block;
    color: white;
}

.button {
    margin: auto;
}

header .header-slider .owl-nav button.owl-prev,
header .header-slider .owl-nav button.owl-next {
    font-size: 130px;
    font-family: Montserrat_ExtraLight, Arial, sans-serif;
    outline: 0;
    color: #a4a3a1;
    padding: 10px;
    position: absolute;
    z-index: 100!important;
    top: 10%;
    left: 10%;
}

header .header-slider .owl-nav button.owl-next {
    color: #cdc0ac;
    left: auto;
    right: 10%;
}

header .header-slider  .owl-dots {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    padding: 5px;
}

header .header-slider  .owl-dot {
    display: inline-block;
    outline: 0;
    padding: 2px 0!important;
}


header .header-slider  .owl-dot span {
    display: inline-block;
    height: 11px;
    width: 11px;
    background-color: #929293;
    margin: 0 5px;
    border: 2px solid transparent;
    border-radius: 50%;
    outline: none;
    outline: 0;
}

header .header-slider .owl-dot.active span {
    border: 2px solid #cdc0ac;
    background-color: transparent;
    outline: 0;
    transform: scale(1.3);
    transition: .3s;
}

.what_we_do {
    padding: 80px 0 60px 0;
}

.what_we_do .we_do {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.what_we_do .we_do:after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f0ede9;
    margin: 30px auto auto auto;
}

.what_we_do .we_do:hover:after {
    background-color: #c0b099;
}

.what_we_do .we_do img {
    height: 40px;
    margin-bottom: 30px;
}

.what_we_do .we_do:hover img {
    filter: brightness(160%) sepia(1)
}

.what_we_do .we_do:hover h3 {
    color: #c0b099;
}

.what_we_do .we_do h3 {
    font-family: RalewaySemiBold, Arial, sans-serif;
    font-size: 2.2em;
    color: #555555;
    margin-bottom: 20px;
}

.what_we_do .we_do p {
    font-family: Montserrat_Light, Arial, sans-serif;
    font-size: 1.4em;
    color: #8c8c8c;
}

section.ideas .container {
    max-width: 767px;
}

section.ideas {
    text-align: center;
    background-color: #fbfaf8;
    padding: 80px 10px 0 10px;
}

section.ideas h3 {
    font-family: RalewaySemiBold, Arial, sans-serif;
    font-size: 3em;
    color: #555555;
    margin-bottom: 30px;
}

section.ideas p {
    font-family: Montserrat_Light, Arial, sans-serif;
    font-size: 1.6em;
    color: #8c8c8c;
    margin-bottom: 40px;
}

section.ideas .art_photo {
    max-width: 1180px;
    margin: auto;
    background: url("../images/ideas_background.png") no-repeat bottom center;
    background-size: contain;
    height: 40vw;
    max-height: 480px;
}

.wordpress_theme {
    background: linear-gradient(to right, #25211f, #47352b);
    color: white;
}

.wordpress_theme .container {
    padding: 45px 15px;
}

.left_side {
    float: left;
    max-width: 80%;
}

.wordpress_theme h3 {
    font-family: Raleway_Regular, Arial, sans-serif;
    font-size: 2.8em;
    margin-bottom: 10px;
}

.wordpress_theme h3 span {
    color: #c0b099;
}

.wordpress_theme p {
    color: #5f5856;
    font-family: Montserrat_Light, Arial, sans-serif;
    font-size: 1.8em;
}

.wordpress_theme .button{
    display: block;
    float: right;
    margin: 0;
}

.latest_projects {
    padding: 80px 10px;
    text-align: center;
}

.latest_projects .container {
    max-width: 1160px;
}

.latest_projects h2 {
    text-align: center;
    font-family: RalewaySemiBold, Arial, sans-serif;
    font-size: 3em;
    color: #555555;
    margin-bottom: 30px;
}

.latest_projects .container > p {
    font-family: Montserrat_Light, Arial, sans-serif;
    font-size: 1.6em;
    color: #8c8c8c;
    text-align: center;
    margin-bottom: 40px;
}

.latest_projects .menu {
    margin: auto auto 40px auto;
    text-align: center;
}

.latest_projects .menu li {
    display: inline-block;
    margin: 0 5px;
}

.latest_projects .menu a {
    font-family: Montserrat_Light, Arial, sans-serif;
    font-size: 1.4em;
    color: #8c8c8c;
    padding: 9px 17px;
    border: 1px solid #ebebeb;
    text-transform: capitalize;
    border-radius: 5px;
    display: block;
}

.latest_projects .item_card {
    /*width: 370px;*/
    margin-bottom: 30px;
    position: relative;
    text-align: left;
}

.latest_projects .item_card .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6) url("../images/lupa_link.png") no-repeat center center;
    z-index: 0;
    top: 0;
    left: 0;
    display: none;
    transition: .5s;
}

.latest_projects .item_card:hover .overlay {
    display: block;
}

.latest_projects .item_card:hover .description{
    background-color: #373331;
}

.latest_projects .item_card:hover h3 {
    color: white;
}

.latest_projects .item_card:hover p {
    color: #c0b099;
}

.latest_projects .menu a.active {
    color: white;
    background-color: #938575;
}

.latest_projects .item_card .background {
    height: 240px;
    background: no-repeat center center;
    background-size: cover;
    position: relative;
}


.latest_projects .description {
    padding: 25px;
    position: relative;
    background-color: #fbfaf8;
    transition: .5s;
}

.latest_projects .description:before {
    content: '';
    display: block;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fbfaf8;
    position: absolute;
    left: 20px;
    top: -30px;
    transition: .5s;
}

.latest_projects .item_card:hover .description:before {
    border-bottom: 15px solid #373331;
}

.latest_projects .item_card h3 {
    font-family: Raleway_Medium, Arial, sans-serif;
    font-size: 2em;
    color: #c0b199;
    margin-bottom: 10px;
}

.latest_projects .item_card p {
    font-family: Montserrat_Light, Arial, sans-serif;
    font-size: 1.4em;
    color: #d1d1d1;
}

.latest_projects .row {
    margin-bottom: 35px;
}

.latest_projects .button {
    color: white;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 700px;
    overflow: hidden;
}

.video_pres {
    position: relative;
    height: 700px;
}

.video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.video_pres .content {
    max-width: 575px;
    margin: 200px auto auto auto;
    box-sizing: border-box;
    text-align: center;
    color: white;
}

.video_pres h2 {
    font-family: Raleway_Medium, Arial, sans-serif;
    font-size: 3em;
    margin-bottom: 30px;
}

.video_pres p {
    font-family: Montserrat_Light, Arial, sans-serif;
    font-size: 1.6em;
    margin-bottom: 40px;
}

.video_pres h5 {
    font-family: Montserrat_Regular, Arial, sans-serif;
    font-size: 1.4em;
    color: #c0b099;
}

@media screen and (max-width: 767px) {
    .latest_projects .item_card {
        margin: auto auto 25px auto;
        float: none;
        max-width: 450px;
    }

    .latest_projects .menu a {
        margin-bottom: 10px;
    }

    .latest_projects {
        padding: 15px 0;
    }

    .wordpress_theme .left_side {
        float: none;
        text-align: center;
        margin-bottom: 15px;
        max-width: 100%;
    }

    .wordpress_theme .button{
        float: none;
        margin: auto;
        clear: both;
        text-align: center;
        max-width: 60%;
    }
}

@media screen and  (min-width: 576px){
    .wordpress_theme .container {
        width: 100%;
    }
}